{% with request.resolver_match.url_name as option %}
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li class="{% if option == 'Profile' %}active{% endif %}"><a href="{% url 'user:Profile' %}"><i class="icon-user"></i><span>Meus dados</span> </a> </li>
        <li class="{% if option == 'Request_list' %}active{% endif %}"><a href="{% url 'request:Request_list' %}"><i class="icon-list-ol"></i><span>Lista de solicitações</span> </a> </li>
        <li class="{% if option == 'Request_new' %}active{% endif %}"><a href="{% url 'request:Request_new' %}"><i class="icon-upload-alt"></i><span>Enviar arquivo</span> </a> </li>
      </ul>
    </div>
    <!-- /container -->
  </div>
  <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
{% endwith %}
