{% extends "base.html" %} {% load static %} {% block extrastyle %}
<link href="{% static 'css/pages/dashboard.css'%}" rel="stylesheet"> {% endblock %} {% block content %}
<div class="main-inner">
  <div class="container">
    <div class="row">
      <div class="span8">
        <div>
          <div class="widget widget-table action-table">
            <div class="widget-header"> <i class="icon-list-ol"></i>
              <h3>Pendentes para aprovação</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content" style="max-height:400px;overflow:auto">
              <table class="table table-striped table-bordered table-responsive">
                <thead>
                  <tr>
                    <th style="width:100px"> Usuário </th>
                    <th> Tipo </th>
                    <th> Status </th>
                    <th style="min-width:100px"> Enviado em </th>
                    <th style="min-width:150px; text-align:center"> Download Arquivos </th>
                    <th class="td-actions" style="min-width:180px; text-align:center"> Ações para a solicitação </th>
                  </tr>
                </thead>
                <tbody>
                  {% if not pending_requests %}
                  <tr>
                    <td colspan="6" style="text-align:center">Nenhuma solicitação</td>
                  </tr>
                  {% else %} {% for req in pending_requests %}
                  <tr>
                    <td style="text-align:center;">
                      {{ req.owner.get_full_name }}<br>
                      <small style="font-size:10px">{{ req.owner.get_username }}</small>
                    </td>
                    <td>{{ req.get_cnc_option_display }}</td>
                    <td>{{ req.get_status_display }}</td>
                    <td>{{ req.sent_at }}</td>
                    <td class="td-actions">
                      <a href="{{ req.cad_file.url }}" class="btn btn-small btn-primary">
                        <i class="btn-icon-only icon-download"> </i> CAD
                      </a>&nbsp;
                      {% if req.g_code %}
                      <a href="{{ req.g_code.url }}" class="btn btn-small btn-primary">
                        <i class="btn-icon-only icon-download"> </i> G-code
                      </a>
                      {% endif %}
                    </td>
                    <td class="td-actions">
                      {% if req.status == 0 %}
                      <a href="#" data-href="{% url 'request:Request_approve' req_id=req.pk %}" data-toggle="modal" data-target="#confirm-approval-modal" class="btn btn-success btn-small approve-request">
                        <i class="btn-icon-only icon-ok"> </i> Aprovar
                      </a>&nbsp;
                      {% endif %}
                      {% if req.is_available_for_cancelling %}
                      <a href="#" data-href="{% url 'request:Request_cancel' req_id=req.pk %}" data-toggle="modal" data-target="#confirm-cancel-modal" class="btn btn-danger btn-small cancel-request">
                        <i class="btn-icon-only icon-remove"> </i> Cancelar
                      </a>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %} {% endif %}
                </tbody>
              </table>
            </div>
            <!-- /widget-content -->
          </div>
          <!-- /widget -->
        </div>
        <!-- /span12 -->

        <div>
          <div class="widget widget-table action-table">
            <div class="widget-header"> <i class="icon-list-ol"></i>
              <h3>Em andamento</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content" style="overflow-x:auto;max-height:600px;overflow:auto">
              <table class="table table-striped table-bordered table-responsive">
                <thead>
                  <tr>
                    <th> Usuário </th>
                    <th> Tipo </th>
                    <th> Status </th>
                    <th style="min-width:100px"> Enviado em </th>
                    <th style="min-width:100px"> Arquivo CAD </th>
                  </tr>
                </thead>
                <tbody>
                  {% if not ongoing_requests %}
                  <tr>
                    <td colspan="5" style="text-align:center">Nenhuma solicitação</td>
                  </tr>
                  {% else %} {% for req in ongoing_requests %}
                  <tr>
                    <td style="text-align:center;">
                      {{ req.owner.get_full_name }}<br>
                      <small style="font-size:10px">{{ req.owner.get_username }}</small>
                    </td>
                    <td>{{ req.get_cnc_option_display }}</td>
                    <td>{{ req.get_status_display }}</td>
                    <td>{{ req.sent_at }}</td>
                    <td class="td-actions">
                      <a href="{{ req.cad_file.url }}" class="btn btn-small btn-primary">
                        <i class="btn-icon-only icon-download"> </i> Download
                      </a>
                    </td>
                  </tr>
                  {% endfor %} {% endif %}
                </tbody>
              </table>
            </div>
            <!-- /widget-content -->
          </div>
          <!-- /widget -->
        </div>
        <!-- /span12 -->

        <div>
          <div class="widget widget-table action-table">
            <div class="widget-header"> <i class="icon-list-ol"></i>
              <h3>Finalizadas</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content" style="overflow-x:auto;max-height:600px;overflow:auto">
              <table class="table table-striped table-bordered table-responsive">
                <thead>
                  <tr>
                    <th> Usuário </th>
                    <th> Tipo </th>
                    <th> Status </th>
                    <th style="min-width:100px"> Enviado em </th>
                    <th style="min-width:100px"> Arquivo CAD </th>
                  </tr>
                </thead>
                <tbody>
                  {% if not other_requests %}
                  <tr>
                    <td colspan="5" style="text-align:center">Nenhuma solicitação</td>
                  </tr>
                  {% else %} {% for req in other_requests %}
                  <tr>
                    <td style="text-align:center;">
                      {{ req.owner.get_full_name }}<br>
                      <small style="font-size:10px">{{ req.owner.get_username }}</small>
                    </td>
                    <td>{{ req.get_cnc_option_display }}</td>
                    <td>{{ req.get_status_display }}</td>
                    <td>{{ req.sent_at }}</td>
                    <td class="td-actions">
                      <a href="{{ req.cad_file.url }}" class="btn btn-small btn-primary">
                        <i class="btn-icon-only icon-download"> </i> Download
                      </a>
                    </td>
                  </tr>
                  {% endfor %} {% endif %}
                </tbody>
              </table>
            </div>
            <!-- /widget-content -->
          </div>
          <!-- /widget -->
        </div>
        <!-- /span12 -->
      </div>
      <!-- /span8 -->
      <div class="span4">
        <div class="widget widget-nopad">
          <div class="widget-header"> <i class="icon-list-ol"></i>
            <h3> Solicitações</h3>
          </div>
          <!-- /widget-header -->
          <div class="widget-content">
            <div class="widget big-stats-container">
              <div class="widget-content">
                <div id="big_stats" class="cf">
                  <div class="stat"> <i class="icon-bolt"></i> <span class="value">{{ total_reqs|default:"0" }}</span> <br><small>Solicitações <b>realizadas</b></small></div>
                  <!-- .stat -->

                  <div class="stat"> <i class="icon-thumbs-up-alt"></i> <span class="value">{{ total_concluded_reqs|default:"0" }}</span> <br><small>Solicitações <b>concluídas</b></small></div>
                  <!-- .stat -->

                  <div class="stat"> <i class="icon-thumbs-down-alt"></i> <span class="value">{{ total_negated_reqs|default:"0" }}</span> <br><small>Solicitações <b>canceladas</b></small></div>
                  <!-- .stat -->
                </div>
              </div>
              <!-- /widget-content -->

            </div>
          </div>
        </div>
        <!-- /widget -->
      </div>
      <!-- /span4 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
  <div class="modal fade" id="confirm-approval-modal" tabindex="-1" role="dialog" aria-labelledby="approving_request" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirmação
            </div>
            <div class="modal-body">
                Tem certeza que deseja aprovar a solicitação?<br>
                Aprovar uma solicitação envia o G-code a caixa de entrada da CNC.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-success btn-ok" id="approve">Enviar</a>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirm-cancel-modal" tabindex="-1" role="dialog" aria-labelledby="cancelling_request" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              Confirmação
          </div>
          <div class="modal-body">
              Tem certeza que deseja cancelar a solicitação?
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
              <a class="btn btn-danger btn-ok" id="cancel">Sim</a>
          </div>
      </div>
  </div>
</div>
</div>
<!-- /main-inner -->
{% endblock %}
{% block extrajs %}
<script>
$('.cancel-request').on('click', function() {
    $('#cancel').attr('href', $(this).attr('data-href'));
});
$('.approve-request').on('click', function() {
    $('#approve').attr('href', $(this).attr('data-href'));
});
</script>
{% endblock %}
